.site-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(../../images/dark-wood.png);
  padding: 50px;
  width: 100%;

  div {
    flex: 1 0 33%;
  }

  p {
    color: white;
  }

  p span {
    font-weight: bold;
  }

  h3 {
    color: #d99054;
    text-transform: uppercase;
  }
}



// .business-hours {}

.logo-svg {
  width: 280px;
}

.copyright {
  flex: 1 0 100%;
  text-align: center;
}