.site-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(../../images/dark-wood.png);
  padding: 50px 100px 0px 100px;
  width: 100%;

  .site-info {
    display: flex;
    width: 100%;

    .contact-inhabitent {
      display: flex;
      width: 50%;
      flex-direction: row;

      .contact-info,
      .business-hours {
        width: 50%;
      }

    }
  }


  p {
    font-family: $font__merriweather;
    color: white;
  }

  p span {
    font-weight: bold;
  }

  h3 {
    font-family: $font__novecento;
    color: $color__orange-brand-color;
    text-transform: uppercase;
    margin: 0px;
  }
}

.logo-svg {
  width: 50%;
  justify-content: flex-end;
  display: flex;
  align-items: end;
}

.copyright {
  display: flex;
  justify-content: center;
  width: 100%;

  p {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: $font__novecento;
  }
}