/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/

.site-main {
  align-items: center;
}

/* Front page - Shop Stuff */

h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 3rem;
  margin-top: 3rem;

}

.product-type-blocks {
  display: flex;
  justify-content: space-between;
  text-align: center;

  .product-type-wrapper {
    flex: 0 1 23.5%;
    max-width: 23.5%;
    padding: .75rem;
    padding-bottom: 1.5rem;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;

    &:hover {
      border-color: #d99054;
    }

    img {
      max-width: 30%;
    }

    a {
      text-transform: uppercase;
      text-decoration: none;
      padding: 10px 20px;
      color: white;

      &:hover {
        background: #19625d;
      }
    }

    .btn {
      background: #248a83;
      color: white;
      text-decoration: none;
      border: none;
      border-radius: 0;
      line-height: 1;
      font-family: $font__novecento;
      font-size: .9rem;
      padding: .75rem 1.5rem;
    }
  }
}

/* Front page - Top Journals */

.latest-entries {

  ul {
    list-style-type: none;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 10px;

    li {
      border: 1px solid #e1e1e1;


      .latest-entries-info {
        padding: .75rem;

        p {
          font-size: 0.8em;
          margin: 0;
        }

        h3 {
          text-transform: uppercase;

          a {
            text-decoration: none;
            color: #248a83;
            margin: 0;

            &:hover {
              color: #2f1339;
            }
          }
        }
      }
    }

    img {
      height: 250px;
      width: 100%;
      border-bottom: 5px solid #e1e1e1;
    }

    .thumbnail {
      overflow: hidden;
    }

  }

  .read-entry-btn {
    border: 1px solid black;
    border-radius: 0;
    color: black;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: $font__novecento;
    font-size: .9rem;
    padding: .75rem 1.5rem;


    &:hover {
      color: white;
      background-color: #248a83;
      border-color: #248a83;
    }
  }
}

// Lastest Advenntures 

.adventures {
  padding: 10px;
  margin-bottom: 4.75rem;

  .adventure-wrapper {
    display: flex;
    width: 100%;
    height: 600px;
    font-family: $font__merriweather;

    .story-info {
      display: flex;
      flex-direction: column;
    }

    a {
      text-decoration: none;

      .read {
        color: #fff;
        font-size: 14px;
        border: 1px solid #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $font__novecento;
        text-align: center;
        cursor: pointer;
        line-height: 1;
        padding: .75rem 1.5rem;

        &:hover {
          background: #248a83;
          border: none;
          border-radius: 0;
        }
      }
    }

    .canoe-left {
      position: relative;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url('../../images/adventure-photos/canoe-girl.jpg') no-repeat center;
      background-size: cover;
      height: 600px;
      width: 50%;
      margin-right: 10px;
      font-size: 3rem;
      padding: 20px;

      a:visited {
        color: #fff;

        &:hover {
          color: #f0e4d1;
        }
      }
    }

    .beach-top-right {
      display: flex;
      flex-direction: column;
      width: 50%;

      .beach-night {
        position: relative;
        background: linear-gradient(180deg,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)),
          url('../../images/adventure-photos/beach-bonfire.jpg') no-repeat center;
        background-size: cover;
        height: 300px;
        margin-bottom: 10px;
        font-size: 2.4rem;
        padding: 30px;

        a {
          color: #fff;

          &:hover {
            color: #f0e4d1;
          }
        }
      }

      .adventure-bottom-right {
        display: flex;
        padding-bottom: 10px;

        .big-mountain {
          position: relative;
          background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)),
            url('../../images/adventure-photos/mountain-hikers.jpg') no-repeat center;
          background-size: cover;
          height: 300px;
          width: 320px;
          font-size: 1.6rem;
          padding: 30px;

          a {
            color: #fff;

            &:hover {
              color: #f0e4d1;
            }
          }
        }

        .star-gazing {
          position: relative;
          background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)),
            url('../../images/adventure-photos/night-sky.jpg') no-repeat center;
          background-size: cover;
          height: 300px;
          width: 320px;
          margin-left: 10px;
          font-size: 1.6rem;
          padding: 30px;

          a {
            color: #fff;

            &:hover {
              color: #f0e4d1;
            }
          }
        }
      }
    }
  }

  .btn {
    background: #248a83;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 0;
    font-family: $font__novecento;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1;
    padding: .75rem 1.5rem;

    &:hover {
      background: #19625d;
      color: #fff;
    }
  }
}