/*--------------------------------------------------------------
# Journal Page - home.php
--------------------------------------------------------------*/


.journal-page,
.single-journal-page,
.archive-page {

  img {
    height: auto;
    width: 100%;
  }

  .entry-header {
    position: relative;
    color: white;
    line-height: 0;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        color: $color__yellow-brand-color;
      }
    }
  }

  .entry-title {
    position: absolute;
    background-color: #248a83;
    font-family: $font__novecento;
    font-size: 2.5em;
    font-weight: bold;
    text-align: left;
    line-height: 1;
    font-size: 2rem;
    max-width: 75%;
    margin-top: 2.25rem;
    padding: .75rem 1.5rem;
    top: 0;
  }

  .entry-meta {
    position: absolute;
    display: inline-block;
    background-color: #248a83;
    color: white;
    text-transform: uppercase;
    font-family: $font__novecento;
    padding: 1.05rem 1.5rem;
    right: 0px;
    bottom: 0px;
    font-size: 16px;
  }
}

.entry-content {
  .read-entry-btn {
    border: 1px solid black;
    border-radius: 0;
    color: black;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    font-family: $font__novecento;
    font-size: 14px;
    padding: .75rem 1.5rem;
    text-transform: uppercase;

    &:hover {
      color: white;
      background-color: #248a83;
      border-color: #248a83;
    }
  }
}

/*--------------------------------------------------------------
# Single Journal Page - single.php
--------------------------------------------------------------*/

.entry-footer {
  a {
    color: #248a83;
    display: inline-block;
    font-family: $font__novecento;
    text-transform: uppercase;
  }

  span.cat-links,
  span.tags-links {
    color: black;
    display: inline-block;
    font-family: $font__novecento;
    text-transform: uppercase;
    margin-right: 1.5rem;
  }
}

.social-media-button {
  background: white;
  border: 1px solid black;
  border-radius: 0;
  color: black;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  font-family: $font__novecento;
  font-size: .9rem;
  padding: .75rem 1.5rem;
  text-shadow: none;
  box-shadow: none;

  &:hover {
    color: white;
    background-color: #248a83;
    border-color: #248a83;
    box-shadow: none;
    text-shadow: none;
  }
}

/*--------------------------------------------------------------
# Comments
--------------------------------------------------------------*/

.comment-form-author,
.comment-form-email {
  float: left;

  input {
    width: 100%;
  }
}

.comment-form-author {
  margin-right: 1%;
  width: 49%;
}

.comment-form-email {
  margin-left: 1%;
  width: 49%;
}

.comment-form-url {
  clear: left;
  width: 100%;

  input {
    width: 100%;
  }
}

.form-submit {
  .submit {
    background: #248a83;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 0;
    font-family: $font__novecento;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    line-height: 1;
    padding: .75rem 1.5rem;
    border-color: none;
    box-shadow: none;
    text-shadow: none;

    &:hover {
      background: #19625d;
      color: #fff;
      box-shadow: none;

    }
  }
}