/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
.site-content {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}


.blog,
.single,
.page-template-default,
.archive,
.search-results,
.error404 {
  .site-content {
    display: flex;
    flex: 1 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;

    .journal-page,
    .single-journal-page,
    .archive-page,
    .find-us-page,
    .search-results,
    .error404 {
      width: 73%;
      padding-right: 5%;
      border-right: 1px solid #e1e1e1;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
}

.tax-product_type {
  .site-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.home {
  .site-content {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.widget-area {
  width: 27%;
  padding-left: 5%;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: bold;
  }

  span {
    &:hover {
      color: $color__purple-brand-color;
    }
  }


  a {
    color: #248a83;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .custom-html-widget {
    p {
      display: flex;
    }

    i {
      line-height: 1.8;
      margin-right: .5rem;
      width: 20px;
      color: black;
    }

    .fa {
      font-size: inherit;
      text-rendering: auto;
    }
  }

  .day-of-week {
    font-weight: bold;
  }
}

/*--------------------------------------------------------------
# About Page
--------------------------------------------------------------*/

.hero-image-header {
  display: flex;
  height: 100vh;
  color: white;
}

.about-content {
  margin-top: -40px;

  h1 {
    color: white;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 2px;
  }

  h2 {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
  }

  p {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
  }
}

/*--------------------------------------------------------------
# Archive Page 
--------------------------------------------------------------*/

.archive-page {
  .page-title {
    border-bottom: $color__solid-border;
    text-align: start;
    margin-bottom: 3rem;
  }
}

/*--------------------------------------------------------------
# Find Us Page
--------------------------------------------------------------*/

.find-us-page {

  h1,
  h2 {
    text-align: start
  }

  iframe {
    width: 100%;
    height: 300px;
    margin-top: 20px;
  }

  .wpcf7-submit {
    background: #248a83;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 0;
    font-family: $font__novecento;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    line-height: 1;
    padding: .75rem 1.5rem;
    border-color: none;
    box-shadow: none;
    text-shadow: none;

    &:hover {
      background: #19625d;
      color: #fff;
      box-shadow: none;

    }
  }
}

label {
  display: block;
  color: $color__purple-brand-color;
  margin-bottom: $base__space-unit;
  text-transform: uppercase;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  background-color: #f4f4f4;
  border: $color__solid-border;
  border-radius: 0;
  color: #666;

  &:focus {
    color: #111;
  }


  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"] {
    padding: ($base__space-unit / 3);
  }


  textarea {
    padding-left: $base__space-unit / 3;
    width: 100%;
  }
}