/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
.site-content {
  margin-left: auto;
  margin-right: auto;
}


.blog,
.single,
.page,
.archive,
.search,
.error404 {

  .site-content {
    display: flex;
    flex: 1 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .journal-page,
    .single-journal-page,
    .archive-page,
    .find-us-page,
    .search,
    .error404 {
      width: 73%;
      padding-right: 5%;
      border-right: 1px solid #e1e1e1;
    }
  }

}

.widget-area {
  width: 27%;
  padding-left: 5%;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: bold;
  }

  span {
    &:hover {
      color: $color__purple-brand-color;
    }
  }


  a {
    color: #248a83;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .custom-html-widget {
    p {
      display: flex;
    }

    i {
      line-height: 1.8;
      margin-right: .5rem;
      width: 20px;
      color: black;
    }

    .fa {
      font-size: inherit;
      text-rendering: auto;
    }
  }

  .day-of-week {
    font-weight: bold;
  }
}

/*--------------------------------------------------------------
# About Page
--------------------------------------------------------------*/

.hero-image-header {
  display: flex;
  height: 100vh;
  color: white;
}

.about-content {
  h1 {
    color: white;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 2px;
  }

  h2 {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
  }

  p {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
  }
}