/*--------------------------------------------------------------
# Search Form 
--------------------------------------------------------------*/

fieldset {
  border: none;
  padding: 0;
}

.search-button {
  border: none;
  background: none;
  box-shadow: none;
  color: $color__teal-brand-color;
  text-shadow: none;

  &:hover {
    color: none;
    box-shadow: none;
    border-color: none;
  }
}

.search-form fieldset {
  border: none;
  padding: 0;


  .icon-search {
    color: #248a83;

    &:hover {
      color: none;
    }

  }

  input.search-field {
    width: 100%;
    border-radius: 0;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1em;
    font-family: $font__novecento;
    text-transform: uppercase;
    background: transparent;

    &:focus {
      outline: none;
    }

    &:hover {
      color: none;
    }
  }
}

/*--------------------------------------------------------------
# Search Results
--------------------------------------------------------------*/

.search-results .page-header {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 3rem;
  padding-bottom: 1rem;

  h1 {
    text-align: left;
  }

}

.search-results {
  .entry-title {
    text-align: left;

    a {
      text-align: left;
      color: $color__teal-brand-color;
      text-decoration: none;
      font-weight: bold;
    }

  }
}

.search-form {
  height: 30px;
}