.widget-area {
  width: 27%;
  padding-left: 5%;

  h2 {
    font-size: 1.5rem;
  }

  a {
    color: #248a83;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }

  .custom-html-widget {
    p {
      display: flex;
    }

    i {
      line-height: 1.8;
      margin-right: .5rem;
      width: 20px;
      color: black;
    }

    .fa {
      font-size: inherit;
      text-rendering: auto;
    }
  }

  .day-of-week {
    font-weight: bold;
  }
}